.name-list {
  position: absolute;
  z-index: 1;
}

.address-name:hover {
  color: #39f;
}
li.address-name {
  cursor: pointer;
}
.uk-form-horizontal .uk-form-label {
  width: 0;
}

.uk-form-horizontal .uk-form-controls {
  margin-left: 50px;
}
