.App {
  text-align: center;
}

.route-search {
  position: absolute;
  z-index: 1;
  top: 0;
  padding: 20px;
  margin-left: 20px;
}
.routes-display {
  background-color: #fff;
  opacity: 80%;
  padding: 15px;
  margin-top: 10px;
  border-radius: 1rem;
}
.input-form {
  background-color: #fff;
  padding: 15px;
  border-radius: 1rem;
}
